<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    <ul>
        {% if personas %}
            <li>{{personas.Nombre}}</li>
            <li>{{personas.Apellido}}</li>
            <li>{{personas.Edad}}</li>
            <li>{{personas.Dirección}}</li>
            <li>{{personas.Genero}}</li>
            <li>{{personas.Vehiculo}}</li>
        {% endif %}
    </ul>
<form action="{{url_for('datos')}}" method="post">
    <label for="">Generos: </label>
    <label><input type="radio" name="genero" value="masculino"> Masculino </label>
    <label><input type="radio" name="genero" value="femenino"> Femenino </label>
    <br>
    <label for="">Tienes Vehiculo: </label>
    <br>
    <input type="checkbox" id="vehicle1" name="vehicle1" value="Bike">
    <label for="vehicle1"> I have a bike</label><br>
    <input type="checkbox" id="vehicle2" name="vehicle2" value="Car">
    <label for="vehicle2"> I have a car</label><br>
    <input type="checkbox" id="vehicle3" name="vehicle3" value="Boat">
    <label for="vehicle3"> I have a boat</label><br>
    <br>
    <input type="submit" value="Enviar datos">
</form>

<br>
<br>
<form action="{{url_for('datos')}}" method="post">
  <label for="cars">Choose a car:</label>
  <select name="cars" id="cars">
    {% for vehiculo in marcasVehiculos %}
        <option value="{{vehiculo}}" {{"selected = 'selected'" if cars==vehiculo}} >{{vehiculo}}</option>
    {% endfor %}
  </select>
  <br>
  <button type="submit">Enviar</button>
</form>

<label for="">Automovil que eligio el usuario <li>{{automovil}}</li></label>

</body>

</html>